<header>
    <!-- Sponsor Logos -->
    <div id="header-branding" class="branding-header ">

        <a href="https://www.tacc.utexas.edu/" target="_blank">
            <img class="branding-logo branding-tacc" src="{{ site.baseurl }}/assets/img/org_logos/tacc-white.png"
                crossorigin="anonymous" alt="TACC Logo">
        </a>

        <span class="branding-seperator"></span>
        <a href="https://www.utexas.edu/" target="_blank">
            <img class="branding-logo branding-utaustin" src="{{ site.baseurl }}/assets/img/org_logos/utaustin-white.png"
                crossorigin="anonymous" alt="University of Texas at Austin Logo">
        </a>
    </div>

    <!-- Navigation Bar -->
    <nav id="s-header" class="s-header  navbar navbar-expand-xl navbar-dark">
        <!-- Portal Logo -->

        <a id="header-logo" class="navbar-brand " href="/" target="_self">
            <img class="portal-logo " src="{{ site.baseurl }}/assets/img/org_logos/demdata.svg" crossorigin="anonymous"
                alt="Democratizing Data Logo">
        </a>

        <!-- Navbar Accordian Toggle on Small Screens  -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExpandTarget"
            aria-controls="navbarsExpandTarget" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarsExpandTarget">

            <ul class="s-cms-nav  navbar-nav  ml-auto">
                <!-- All top-level CMS controlled nav elements handled here. -->
                <li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Agencies
                        <span class="sr-only">Toggle Dropdown</span></a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown"><a class="dropdown-item"
                            href="{{ site.baseurl }}/agencies/usda-landing/" role="menuitem">
                            Economic Research Service (ERS) - USDA
                        </a><a class="dropdown-item"
                            href="https://public.tableau.com/app/profile/national.agricultural.statistics.service/viz/5WsofNASSDataUsage/The5Ws"
                            role="menuitem" target="_blank">
                            National Agricultural Statistics Service (NASS) - USDA
                        </a><a class="dropdown-item" href="https://nces.ed.gov/" role="menuitem" target="_blank">
                            National Center for Education Statistics (NCES) - ED
                        </a><a class="dropdown-item" href="{{ site.baseurl }}/agencies/ncses-landing/" role="menuitem">
                            National Center for Science and Engineering Statistics (NCSES) - NSF
                        </a><a class="dropdown-item" href="https://www.noaa.gov/" role="menuitem" target="_blank">
                            National Oceanic and Atmospheric Administration (NOAA)
                        </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/events/">
                        Events

                    </a></li>
                <li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Our Tools
                        <span class="sr-only">Toggle Dropdown</span></a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown"><a class="dropdown-item"
                            href="{{ site.baseurl }}/tools/our-approach/" role="menuitem">
                            Our Approach
                        </a><a class="dropdown-item" href="{{ site.baseurl }}/tools/dashboards/" role="menuitem">
                            Dashboards
                        </a><a class="dropdown-item" href="{{ site.baseurl }}/tools/jupyter-notebooks/" role="menuitem">
                            Jupyter Notebooks
                        </a><a class="dropdown-item" href="{{ site.baseurl }}/tools/api/" role="menuitem">
                            API
                        </a>
                </li>
                <li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Resources
                        <span class="sr-only">Toggle Dropdown</span></a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown"><a class="dropdown-item"
                            href="https://democratizingdata.gitbook.io/userguide/" role="menuitem" target="_blank">
                            User Guide
                        </a><a class="dropdown-item"
                            href="https://www.kaggle.com/c/coleridgeinitiative-show-us-the-data" role="menuitem"
                            target="_blank">
                            Code Competition
                        </a><a class="dropdown-item" href="{{ site.baseurl }}/resources/additional-resources/" role="menuitem">
                            Additional Resources
                        </a>
                </li>
                <li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        About
                        <span class="sr-only">Toggle Dropdown</span></a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown"><a class="dropdown-item"
                            href="{{ site.baseurl }}/about/overview/" role="menuitem">
                            Overview
                        </a><a class="dropdown-item" href="{{ site.baseurl }}/about/team/" role="menuitem">
                            Our Team
                        </a><a class="dropdown-item" href="{{ site.baseurl }}/about/data-partners/" role="menuitem">
                            Data Partners
                        </a><a class="dropdown-item" href="{{ site.baseurl }}/about/contact-us/" role="menuitem">
                            Contact Us
                        </a>
                </li>
            </ul>
            <script type="module">
                import findLinksAndSetTargets from '{{ site.baseurl }}/assets/js/modules/setTargetForExternalLinks.js';
                findLinksAndSetTargets();
            </script>
        </div>
    </nav>
</header>